{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'partials/_header_estetica.html' %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<!--    Tabela-->
    <link rel="stylesheet" href="/static/css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<body id="body-pd">
    <div class="height-100 bg-light" align="">
        <div class="contact-area section-padding-0-200">
           <div class="container" style="margin-top:80px">
               <div class="row">
                   <div class="col-12">
                       <div class="section-heading">
                           <h3>ANAMNESE</h3>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="container" style="margin-top:40px">
                        <a type="button" href="{% url 'configura_anamnese' %}"
                           class="btn botao_adicionar" title="Configuração">
                            <img src="/static/img/configuration_icon.svg"></a>
                   </div>
                   <div class="container" style="margin-top:40px">
                       <div class="alert alert-danger" role="alert" id="error_atendimento" style="display:None">
                            Ops! Seu modelo de anamnese não foi criado ainda ou todas as questões dele estão desabilitadas.
                           Antes de iniciar o atendimento, <b>clique no botão de configuração acima</b> para criar seu modelo.
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12">
                       <div class="contact-form-area">
                           <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               <div class="row">
                                    <div class="container" style="margin-top:20px">
                                        <table id="table_cadastro_usuario" border="1" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Paciente</th>
                                                    <th>Contato 1</th>
                                                    <th>Status</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</body>
    {% include 'partials/_footer_estetica.html' %}

    <script src="/static/js/tooplate-scripts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="/static/js/cadastraranamnese.js"></script>
    <script src="/static/js/js/jquery.dataTables.min.js"></script>
    <script>
        anamneses = {{status_anamneses|safe}};
        error_atendimento = {{error_atendimento|safe}};
    </script>

</html>