{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'partials/_header_estetica.html' %}
    <link rel="stylesheet" href="/static/css/datatables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<body id="body-pd">
    <div class="height-100 bg-light" align="">

        <div class="contact-area section-padding-0-200">
           <div class="container" style="margin-top:80px">
               <div class="row">
                   <div class="col-12">
                       <div class="section-heading">
                           <h3>ATENDIMENTOS</h3>
                       </div>
                   </div>
               </div>
               <div class="container" style="margin-top:40px">
                    <a type="button" href="{% url 'novo_atendimento' %}"
                       class="btn botao_adicionar"><div class="editar_adicionar">Novo atendimento</div></a>
               </div>
               <div class="row">
                   <div class="col-12">
                       <div class="contact-form-area">
                           <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               <div class="row">
                                    <div class="container" style="margin-top:20px">
                                        <table id="table_atendimentos" border="1" class="display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Início</th>
                                                    <th>Término</th>
                                                    <th>Paciente</th>
                                                    <th>Contato</th>
                                                    <th>Pagamento efetuado</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                               </div>
                           </form>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</body>

{% include 'partials/_footer_estetica.html' %}
<script src="/static/js/tooplate-scripts.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script src="/static/js/controle_atendimentos.js"></script>
<script src="/static/js/js/jquery.dataTables.min.js"></script>
<script>
        atendimentos = {{atendimentos|safe}};
        console.log(atendimentos);
</script>
</html>