{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'partials/_header_estetica.html' %}

<body id="body-pd">
    <div class="height-100 bg-light" align="">

        <div class="contact-area section-padding-0-200">
           <div class="container" style="margin-top:80px">
               <div class="row">
                   <div class="col-12">
                       <div class="section-heading">
                           <h3>NOVO PROCEDIMENTO</h3>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12">
                       <div class="contact-form-area">
                           <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               <div class="row" style="margin-top:1em">
                                   <div class="col-12 col-lg-12">
                                       <label for="nome_procedimento">
                                           <b>Procedimento</b>
                                       </label>
                                       <input type="text" id="nome_procedimento" class="form-control"
                                      name="nome_procedimento" placeholder="Inclua nesse campo um dos procedimentos que executa. Por exemplo, fisioterapita cervical." required>
                                   </div>
                               </div>
                               <div class="row" style="margin-top:1em">
                                   <div class="col-12 col-lg-12">
                                       <label for="descricao_procedimento"><b>Descrição do procedimento</b></label>
                                       <input type="text" id="descricao_procedimento" class="form-control"
                                        name="descricao_procedimento"
                                        placeholder="Inclua aqui uma breve descrição do seu procedimento. Por exemplo, atendimento fisioterapêutico" required>
                                   </div>
                               </div>
                                <div class="row" style="margin-top:1em">
                                  <div class="col-12 col-lg-2">
                                       <label for="valor_procedimento"><b>Valor</b></label>
                                       <input type="text" id="valor_procedimento" class="form-control"
                                              name="valor_procedimento"
                                              placeholder="R$ 0,00" required>
                                  </div>
                               </div>
                               <div class="row" style="text-align:center; margin-top:1em">
                                   <div>
                                        <button type="submit" class="btn botao_salvar">
                                            <div class="salvar_letras">Salvar</div>
                                        </button>
                                        <a class="btn botao_voltar" type="button"
                                                href="{% url 'procedimentos' %}">
                                            <div class="salvar_letras">Voltar</div>
                                        </a>
                                   </div>
                               </div>
                           </form>
                      </div>
                   </div>
               </div>
           </div>
           </div>
        </div>
    </div>
</body>

{% include 'partials/_footer_estetica.html' %}

<script>
    $(document).ready(function() {
        $("#button_5").removeClass("nav_link").addClass("nav_link active");
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
<script src="/static/js/jquery.maskMoney.min.js"></script>
<script>
    $("#valor_procedimento").maskMoney({prefix:'R$ ', thousands:'.', decimal:','});
</script>
</html>