{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% include 'partials/_header_estetica.html' %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/css/tempusdominus-bootstrap-4.min.css" integrity="sha512-3JRrEUwaCkFUBLK1N8HehwQgu8e23jTH4np5NHOmQOobuC4ROQxFwFgBLTnhcnQRMs84muMh0PnnwXlPq5MGjg==" crossorigin="anonymous" />

<body id="body-pd">
    <div class="height-300 bg-light" align="">
        <div class="contact-area section-padding-0-200">
           <div class="container" style="margin-top:80px">
               <div class="row">
                   <div class="col-12">
                       <div class="section-heading">
                           <h3>ATENDIMENTO</h3>
                            <div align="right">
                            <a class="btn botao_voltar" type="button"
                                    href="{% url 'novo_atendimento' %}">
                                <div class="salvar_letras">Voltar</div>
                            </a>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-12">
                       <div class="contact-form-area">
                       <form action="" method="post" id="form_atendimento" enctype="multipart/form-data">
                            {% csrf_token %}
                          <input type="text" id="id_paciente" name="id_paciente" hidden>
                          <div class="row" style="margin-top:1em">
                               <div class="col-12 col-lg-10">
                                   <label for="nome_paciente"><b>Nome</b></label>
                                   <input type="text" id="nome_paciente" class="form-control" name="nome_paciente"
                                          required>
                               </div>
                          </div>
                          <div class="row" style="margin-top:1em">
                                  <div class="col-12 col-lg-2">
                                       <label for="rg"><b>RG</b></label>
                                       <input type="text" id="rg" class="form-control" name="rg" onkeypress="$(this).mask('00.000.000-0');"
                                              required>
                                  </div>
                                  <div class="col-12 col-lg-2">
                                       <label for="cpf"><b>CPF</b></label>
                                       <input type="text" id="cpf" class="form-control" name="cpf" onkeypress="$(this).mask('000.000.000-00');"
                                              >
                                  </div>
                                   <div class="col-12 col-lg-4">
                                    <label for="email"><b>Email</b></label>
                                    <input id="email" name="email" type="email" maxlength="50" class="form-control"
                                           >
                                   </div>
                                   <div class="col-12 col-lg-2">
                                    <label for="contato_1"><b>Contato 1</b></label>
                                    <input id="contato_1" name="contato_1" type="tel" maxlength="11" class="form-control"
                                           onkeypress="$(this).mask('00-00000-0000');">
                                    <span class="validity"></span>
                                   </div>
                           </div>
                          <div class="row" style="margin-top:1em">
                                <div class="col-sm-6" style="width:auto">
                                    <div class="form-group">
                                        <label for="inicio_atendimento"><b>Início</b></label>
                                        <div class="input-group date" id="inicio_atendimento" data-target-input="nearest">
                                            <input type="text" name="inicio_atendimento" id="inicio_atend" class="form-control datetimepicker-input" data-target="#inicio_atendimento" required/>
                                            <div class="input-group-append" data-target="#inicio_atendimento" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6" style="width:auto">
                                    <div class="form-group">
                                        <label for="final_atendimento"><b>Final</b></label>
                                        <div class="input-group date" id="final_atendimento" data-target-input="nearest">
                                            <input type="text" name="final_atendimento" id="final_atend" class="form-control datetimepicker-input" data-target="#final_atendimento"/>
                                            <div class="input-group-append" data-target="#final_atendimento" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                          </div>
                         <div class="row" style="margin-top:1em;">
                              <div class="col-12 col-lg-10">
                                   <label for="observacoes"><b>Observações do atendimento: </b></label>
                                   <textarea class="form-control" id="observacoes" class="form-control" name="observacoes"></textarea>
                              </div>
                         </div>
                         <div class="row" style="margin-top:1em;">
                             <div class="col-12 col-lg-7">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="servico" value="procedimento" id="procedimento" checked>
                                  <label class="form-check-label" for="procedimento">
                                      <b>Procedimentos individuais</b>
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="servico" value="pacote" id="pacote">
                                  <label class="form-check-label" for="pacote">
                                      <b>Pacotes de procedimentos</b>
                                  </label>
                                </div>
                            </div>
                          </div>
                          <div id="procedimentos_individuais" style="margin-bottom:1em;" >
                              <div class="row" style="margin-top:1em;" id="lista_procedimentos">
                             </div>
                             <div class="row" style="margin-top:50px;">
                                <div class="col-sm-2" style="width:140px; margin-left:10px"><h5>Total: </h5></div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control input-number" id="total" value="R$ 0,00" disabled="disabled">
                                </div>
                                <div class="col-sm-4" style="margin-left:50px">
                                    <label for="procedimento"><b>Pagamento efetuado?</b></label>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="pagamento" value="sim" id="pagamento_sim">
                                      <label class="form-check-label" for="pagamento_sim">
                                          <b>Sim</b>
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input class="form-check-input" type="radio" name="pagamento" value="nao" id="pagamento_nao" checked>
                                      <label class="form-check-label" for="pagamento_nao">
                                          <b>Não</b>
                                      </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <button type="button" onclick="verifica_escolha_procedimento()" class="btn botao_salvar">
                                            <div class="salvar_letras">Salvar</div>
                                        </button>
                                   </div>
                                </div>
                             </div>
                         </div>
                       </form>
                       </div>
                   </div>
               </div>
           </div>
        </div>
    </div>
</body>

{% include 'partials/_footer_estetica.html' %}

<script>
    $(document).ready(function() {
        $("#button_1").removeClass("nav_link").addClass("nav_link active");
        paciente = {{paciente|safe}};
        procedimentos = {{procedimentos|safe}};

    });
</script>
<!--Recursos para funcionamento do datatimepicker-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment-with-locales.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.39.0/js/tempusdominus-bootstrap-4.min.js" integrity="sha512-k6/Bkb8Fxf/c1Tkyl39yJwcOZ1P4cRrJu77p83zJjN2Z55prbFHxPs9vN7q3l3+tSMGPDdoH51AEU8Vgo1cgAA==" crossorigin="anonymous"></script>

<script src="/static/js/procedimento_novo_atendimento.js"></script>

</html>